GUARDRAIL_PREFLIGHT_MODE=<PRODUCTION>
GUARDRAIL_RUNTIME_ROLE=<INGRESS_OR_WORKER>
GUARDRAIL_TARGET_REPOSITORY=<EXACT_TARGET_REPOSITORY>
GUARDRAIL_EXPECTED_COMMIT=<FULL_APPROVED_CONTROL_PLANE_COMMIT_SHA>
GUARDRAIL_DEPLOYED_COMMIT=<FULL_DEPLOYED_CONTROL_PLANE_COMMIT_SHA>
GUARDRAIL_BUILD_COMMIT_PATH=<BAKED_COMMIT_FILE_PATH>
GUARDRAIL_IMAGE_DIGEST=<SHA256_IMAGE_DIGEST>
GUARDRAIL_VERSION=<DEPLOYED_GUARDRAIL_VERSION>
GITHUB_APP_ID=<NUMERIC_APP_ID_FOR_WORKER>
GITHUB_PRIVATE_KEY_PATH=<LINUX_PRIVATE_KEY_MOUNT_PATH_FOR_WORKER>
GITHUB_WEBHOOK_SECRET_PATH=<LINUX_WEBHOOK_SECRET_MOUNT_PATH_FOR_INGRESS>
GOOGLE_CLOUD_PROJECT=<GOOGLE_CLOUD_PROJECT_ID_FOR_INGRESS>
GUARDRAIL_TASKS_LOCATION=<CLOUD_TASKS_REGION_FOR_INGRESS>
GUARDRAIL_TASKS_QUEUE=<CLOUD_TASKS_QUEUE_NAME_FOR_INGRESS>
GUARDRAIL_WORKER_URL=<HTTPS_CLOUD_RUN_WORKER_URL_FOR_INGRESS>
GUARDRAIL_TASKS_OIDC_SERVICE_ACCOUNT=<TASK_CALLER_SERVICE_ACCOUNT_FOR_INGRESS>
GUARDRAIL_TASKS_OIDC_AUDIENCE=<HTTPS_CLOUD_RUN_WORKER_AUDIENCE_FOR_INGRESS>
HOST=<CLOUD_RUN_BIND_ADDRESS>
PORT=<CLOUD_RUN_PORT>
